{% extends 'base.html' %}

{% block title %}
    <title>main page</title>
{% endblock title %}

{% block header %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">To-Do List</h1>
            <p class="lead">These are your task.</p>
        </div>
    </div>
{% endblock %}

{% block contents %}
    <div class="container">
                <a href="{% url 'create' %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">追加</a>
        {% for item in object_list %}
            <div class="alert alert-{{ item.priority }}" role="alert">
              <p>{{ item.title }}　期日:{{ item.duedate }}</p>
            <a href="{% url 'update' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">編集</a>
            <a href="{% url 'detail' item.pk %}" class="btn btn-info" tabindex="-1" role="button" aria-disabled="true">詳細</a>
            <a href="{% url 'delete' item.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">削除</a>
            </div>
        {% endfor %}
    </div>
{% endblock contents %}